/* --------------------------------------------------------------------
********************** TYPOGRAPHY & SUCH ***************************
----------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0 !important;
}
body,
a,
p,
div,
h1,
h2,
h3,
h4,
h5,
nav,
button,
li,
main,
footer,
span { /* setting font family */
    font-family: 'Poppins', sans-serif;
}
h2.styleHeaders,
h2.cohort42-text,
h1.this-cohort {
    text-transform: uppercase;
}
h3.demo-date {
    line-height: 3rem;
    text-transform: uppercase;
}
button,
.pointer { /* pointer */
    cursor: pointer;
}
a { /* no text decoration on anchor tags*/
    text-decoration: none !important;
}
.btn-outline-primary { /* button outline */
    color: #238193!important;
    border-color: #238193!important;
}
.btn-outline-primary:hover { /* button outline hover */
    color: white!important;
    background-color: #238193!important;
}
code { /* code - font color */
    color: black;
}
html,
body {/* set background image */
    max-width: 100%;
    overflow-x: hidden;
    background: url("../images/background.jpg") fixed no-repeat;
    background-color: transparent;
    background-size: cover;
}
.group-pic-wrapper,
.lil-nav-wrapper
.thankyou-chunk,
img.card-img-top { /* fade in on load */
    animation: fadeIn 2s;
}
::-webkit-scrollbar {
    display: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* --------------------------------------------------------------------
***************************** NAVIGATION ***************************
----------------------------------------------------------------------*/

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top { /* main nav */
    background: white;
    height: 9%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
/*
******************* LOGO - left nav
*/
.logo-link { /* logo link */
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 2rem;
}
.logo { /* logo image */
    object-fit: contain;
    object-position: center;
    height: 50px;
    width: 50px;
}
/*
******************* COHORT 42 - left nav
*/
.cohort-header-container { /* cohort text container */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15%;
    margin-left: 1rem;
    pointer-events: none;
    min-width: 190px;
}
.cohort42 { /* cohort text */
    color: #238193;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
/*
******************* RSVP BUTTON
*/
.btn--rsvp { /* RSVP button */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 170px;
    height: 40px;
    border: 2px solid #238193;
    border-radius: .5rem;
    color: #238193;
    transition: .35s;
    margin-left: 1rem;
}
.btn--rsvp:hover { /* RSVP button */
    color: rgba(255, 255, 255, 0.92);
    background-color: #238193;
}
.btn-left { /* RSVP button - left side */
    width: 39%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.btn-spacer { /* RSVP button - divider line */
    display: flex;
    align-self: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    width: 1%;
    height: 20px;
    background-color: #238193;
    transition: .35s;
}
.btn--rsvp:hover > .btn-spacer { /* change divider line */
    background-color: rgba(255, 255, 255, 0.92) !important;
}
.btn-right { /* RSVP button - left side */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.jan,
.dd { /* RSVP button - text on right */
    transition: .35s;
    text-align: center;
    width: 100%;
    align-content: center;
    text-transform: uppercase;
}
.top-nav-spacer { /* space btwn btn and nav links */
    width: 20%;
    height: 20px;
}
/*
************** NAV LINK GROUP
*/
div.navbar-collapse { /* */
    width: 35%;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
li.nav-spacing { /* nav link */
    margin-right: 1rem !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #238193;
    font-size: 1.25rem;
}

/* --------------------------------------------------------------------
****************************** GROUP PHOTO *****************************
----------------------------------------------------------------------*/

.image-spacer { /* spacer above image */
    width: 100%;
    height: 9%;
}
.group-pic-wrapper img{ /* group photo img */
    object-fit: cover;
    object-position: center;
}

/* --------------------------------------------------------------------
******************************* BANNERS *******************************
----------------------------------------------------------------------*/

.lil-nav-wrapper { /* banner wrapper */
    width: 100%;
    height: 5%;
    color: white;
}
.lil-nav {
    box-shadow: 2px 2px 2px #08181bb2;
    background-color: #238193 !important;
}
.lil-nav .styleHeaders {
    padding: .5rem 0rem;
}
.lil-nav-wrapper.devs { /* banner wrapper - dev */
    margin-bottom: 1rem;
}
.lil-nav-wrapper.tech { /* banner wrapper - tech */
    margin-bottom: 3rem 0rem;
}
.lil-nav-wrapper.thanks { /* banner wrapper - thanks */
    margin: 3rem 0rem;
}
.lil-nav-wrapper.footer { /* banner wrapper - footer */
    margin-top: 3rem;
}

.title-font {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.inner-main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%
}

.inner-main.thankyous,
.inner-main.technology {
    margin-top: 3rem;
}

.row {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.col-sm-2.technologies{
    border: none;
    border-radius: none;
    box-shadow: none;
}

.technos {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background: white;
}

.techs {
    width: 70px;
    margin: 20px 0px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* --------------------------------------------------------------------
********************* "COME SEE OUR DEMO" LINK *************************
----------------------------------------------------------------------*/
.this-cohort {
    display: block;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.demo-date { /* aligns text center */
    text-align: center;
}
.demo-date__link { /* styles hyperlink text */
    font-size: 2rem;
    color: #238193 !important;
    transition: .35s;
}
.demo-date:hover > .demo-date__link { /* hover over btn to change text*/
    color: #0f5d6d !important;
}
.styleHeaders {
    letter-spacing: 2px;
}

/* --------------------------------------------------------------------
*************************** WINDOW RESIZING ****************************
----------------------------------------------------------------------*/

@media (max-width: 700px) {
    .top-nav-spacer { /* ICON SIZE */
        display: none;
    }
}
@media (max-width: 900px) {
    .header-text{ /* BANNER SIZE */
        margin: 0 auto;
        height: 30px;
    }
    .header-text h2{ /* BANNER TEXT SIZE */
        font-size: 1.5em;
        margin-top: -10px;
    }
    .popup { /* MODAL CONTENT SIZE */
        width: 100%;
    }
}

/* --------------------------------------------------------------------
****************************** CONTACT ICONS ***************************
----------------------------------------------------------------------*/

.studentContact{ /* row of icons */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin-bottom: .75rem;
}
.contactIcons{ /* icon - color */
    color: #238193;
}
.contactIcons:hover{ /* icon - hover */
    transform: scale(1.2);
}

.popup-right .studentContact {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin-top: .5rem;
    z-index: 5001;
}
.popup-right .studentContact a {
    margin-left: -.5rem;
}

/* --------------------------------------------------------------------
************************** STUDENT CARDS ******************************
----------------------------------------------------------------------*/

.col-md-3.cohortMems{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;
    border: 1px solid lightgray;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px lightgray;
    margin: 2%;
    margin-bottom: 5%;
    background: white;
    min-width: 235px;
    max-width: 300px;
}
.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.card-img-top{ /* student pro image - rounded top corners */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body { /* student pro image - rounded top corners */
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

/* --------------------------------------------------------------------
************************** CARD BODY - BUTTONS *************************
----------------------------------------------------------------------*/

.resumeHyperlink { /* resume button - text */
    color: #238193!important;
}
.resumeButton:hover > .resumeHyperlink { /* hover over btn to change text*/
    color: white!important;
}
.resumeButton,
.learnMoreButton { /* resume and learn more buttons */
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}
.resumeButtonContain,
.learnMoreButtonContain { /* button containers - breathing room */
    margin-bottom: 1rem;
}

/* --------------------------------------------------------------------
************************** CARD BODY - QUOTE *************************
----------------------------------------------------------------------*/

.quote { /* quoted text - aligned left */
    text-align: left;
}
.whosaidthat { /* by line - aligned right*/
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    text-align: right;
}
.scoot { /* by line - scoots it in a smidge */
    margin-right: 1.5rem;
}
.cite { /* by line citation - italicized */
    font-style: italic;
}

/* --------------------------------------------------------------------
**************************** MODAL INFO *******************************
----------------------------------------------------------------------*/
.modal.show {
    background-color:#ffffff77;
    display: flex !important;
    justify-content: center;
    pointer-events: auto;
}

.modal.show .modal-dialog {
    display: flex;
    justify-content: center;
    overflow-y: initial;
}

.popup {
    position: absolute;
    height: 30rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    pointer-events: auto;
}
.popup-left {
    display: flex;
    height: 100%;
    position: absolute;
    left:0;
}
.popup-left img {
    position: absolute;
    height: 100%;
    right: 0;
}
.popup-right {
    display: flex;
    height: 100%;
    width: 350px;
    position: absolute;
    right: -350px;
    flex-flow: column nowrap;
    background: white;
    padding: 1rem 2rem;
}
.student-name-container-popup {
    margin-top: 1rem;
    display: block;
}
.student-name_popup {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    font-size: 2rem !important;
}
.student-bio-container {
    display: block;
    margin-top: 1rem;
    height: 65%;
    overflow:initial;
    padding: .5rem;
    box-sizing: border-box;
}
.fade-out {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 0 -20px 50px 1.5rem white, 0 -20px 40px 1.25rem white, 0 -20px 30px 1rem white;
    z-index: 5000;
}
.bio-words {
    display: block;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-bottom: 3rem;
}
.bio-words::-webkit-scrollbar {
    display: block;
}
.close-popup-button {
    position: absolute;
    top: -3%;
    right: -3%;
    background-color: #0b758a !important;
    color: white;
    font-size: 1.75rem;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 2rem;
    pointer-events: auto;
}
.close-popup-button:focus {
    outline: none;
    background-color: #012f38 !important;
    transition: .10s;
}
.backButton{
    position: absolute;
    bottom: 2%;
    width: 70px;
    display: block;
    margin-left: 1rem;
}

/* --------------------------------------------------------------------
************************** FOOTER  *************************
----------------------------------------------------------------------*/
.inner-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 60%;
}

/* --------------------------------------- HIDES SCROLLBAR */
